<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitBranch</key>
	<string>release/trail_sdk_1.11.1</string>
	<key>GitBuildNumber</key>
	<string>1153</string>
	<key>GitDate</key>
	<string>Fri Jan 20 16:41:50 2017 +0530</string>
	<key>GitHash</key>
	<string>51d00c2</string>
	<key>GitNumModified</key>
	<string>1</string>
	<key>GitVersionTag</key>
	<string>1.29.0</string>
</dict>
</plist>
